# Ignore Iddo et al's code
intergenic.py
# Ignore the data dir
data/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore the virtualenv
.venv/
# Ignore tool test results
tool_test_output*
